<section class="about-us p-3">

<div class="card w-50 p-3 mx-auto my-3">
  <div class="about-head">
  <img class="w-25"src="" alt="">
  <div>
  <h1>Sunitha Mannam</h1>
  <h3>Backend Master</h3>
  </div>
  </div>
  <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, deleniti. Perferendis ut consequuntur, quo quaerat pariatur, doloremque officia recusandae consequatur tempora exercitationem esse iusto amet, minima atque fugit qui ipsam.
      </p>
</div>

<div class="card w-50 p-3 mx-auto my-3">
  <div class="about-head">
  <img class="w-25"src="images/Resume profile.jpeg" alt="">
  <div>
  <h1>Matthew Howard</h1>
  <h3>Creative, Problem Solver</h3>
  </div>
  </div>
  <br>
      <p>After numerous years in the service industry, I decided it was the right time for me to change careers.  Web Development had always been an interest of mine but my path didn't lead that way until now.
      In 2018, I fell in love with a woman and moved to the Netherlands.  I'm still a part owner of a popular karaoke bar in Charlotte, NC but decided to try something new to support my international family. 
      <br>
      <br>
      I like to make pixel perfect websites work.  I like to climb mountains.  I am goal oriented and meticulous.
      <br>
      <br>
      Working with Sunitha has been great.  I think we paired quite well and learned a lot from each other.  She is motivated and the back end is her specialty.  She was a fundamental part of making this site function. 
      <br>
      <br>

      Lets see where this path takes me. Heres to a new career in Front End Development.  
      </p>
</div>

</section>


