<section class="about-us p-3">
  <div class=" card col-xs-12 col-sm-9 col-md-8 col-lg-6 p-3 mx-auto my-3">
    <div class="about-head">
      <img class="w-25" src="https://res.cloudinary.com/dcod1zxnl/image/upload/v1599899022/sunitha_1_zlfjrq.jpg" alt="">
      <div>
        <h1>Sunitha Mannam</h1>
        <h3>Web Developer</h3>
      </div>
    </div>
    <br>
    <p>

      With my past experience as a developer and to achieve my dream of becoming a full stack developer,
      I enrolled myself to a Full Stack Web Development bootcamp. With my past experience and recent learnings from the
      bootcamp,
      I am excited to build a professional career in full stack web development.

      <br> <br>
      I am hardworking, well organised,self-motivated and commited to work. I love to cook and spend quality time with
      my
      family.
      <br> <br>
      I enjoyed working with Mathew. He is a good team player who completes his tasks on time efficiently and with
      responsibility. He is specialized in designing and development of the front-end. He showed excellent skills in
      designing and styling of this website.
      <br> <br>


  </div>

  <div class=" card col-xs-12 col-sm-9 col-md-8 col-lg-6 p-3 mx-auto my-3">
    <div class="about-head">
      <img class="w-25" src="https://res.cloudinary.com/dcod1zxnl/image/upload/v1599848833/Resume_profile_rzruvx.jpg"
        alt="">
      <div>
        <h1>Matthew Howard</h1>
        <h3>Front End Web Developer</h3>
      </div>
    </div>
    <br>
    <p>After numerous years in the service industry, I decided it was the right time for me to change careers. Web
      Development had always been an interest of mine but my path didn't lead that way until now.
      In 2018, I fell in love with a woman and moved to the Netherlands. I'm still a part owner of a popular karaoke bar
      in Charlotte, NC but decided to try something new to support my international family.
      <br>
      <br>
      I like to make pixel perfect websites work. I like to climb mountains. I am goal oriented and meticulous.
      <br>
      <br>
      Working with Sunitha has been great. I think we paired quite well and learned a lot from each other. She is
      motivated and the back end is her specialty. She was a fundamental part of making this site function.
      <br>
      <br>
    </p>
  </div>

</section>