<section class="about-us p-3">

<div class="card w-50 p-3 mx-auto my-3">
  <img class="w-25"src="/images/apples.jpg" alt="">
  <h1>Sunitha Mannam</h1>
    <h3>Backend Engineering Master</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolorem ab eius, iste assumenda voluptates facere laborum? Voluptate, quia exercitationem tenetur odio rem deserunt facilis libero repudiandae, porro vitae reiciendis.</p>
</div>

<div class="card w-50 p-3 mx-auto my-3">
  <img class="w-25"src="/images/cauliflower.jpg" alt="">
  <h1>Matthew Howard</h1>
    <h3>Frontend Master Blaster</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolorem ab eius, iste assumenda voluptates facere laborum? Voluptate, quia exercitationem tenetur odio rem deserunt facilis libero repudiandae, porro vitae reiciendis.</p>
</div>

</section>


