<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Farm Grocer </title>
  <!--Bootstrap css cdn-->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
  <!--Font Awesome link-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--Your css links-->
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <!-- Favicon -->
  <link rel="icon" href="images/logo1.png">
</head>

<body>

  {{!-- cart count: {{cartCnt}} --}}
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: rgb(108 144 126);">
    <div class="container-fluid">
      <a class="navbar-brand" id="logo" href="/"><img src="/images/logo1.png" alt="Farm Grocer Logo"></a>
      <div>
        <h3>Farm Grocer </h3>
        <h4 id="slogan">Farm to Door</h4>
      </div>

      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav ml-auto">
          {{!-- <li class="nav-item"> 
              <a class="nav-link" href="/">Home</a>
            </li> --}}

          {{!-- if user is logged in ==> display --}}
          {{#if currentUser}}
          <li class="nav-item">
            <a class="nav-link" href="/edit-profile">Edit Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/shop">Shop</a>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-toggle nav-link " data-toggle="dropdown" href="#">Categories</a>
            <ul class="dropdown-menu">
              <li class="nav-item">
                <a class="nav-link dropdown-item" href="/shop">All</a>
              </li>
              <li class="nav-item">
                <a class="nav-link dropdown-item" href="/categories/fruits">Fruits</a>
              </li>
              <li class="nav-item">
                <a class="nav-link dropdown-item" href="/categories/vegetables">Vegetables</a>
              </li>
              <li class="nav-item">
                <a class="nav-link dropdown-item" href="/categories/breads">Breads</a>
              </li>
              <li class="nav-item">
                <a class="nav-link dropdown-item" href="/categories/meat">Meat</a>
              </li>
            </ul>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          {{/if}}

          {{#if currentUser}}
          <li class="nav-item"> <a class="nav-link" href="/logout">Logout</a></li>
          {{/if}}
        </ul>
      </div>
      {{#if currentUser}}
      <h2><a class="nav-link" href="/cart"><i class="fa fa-shopping-cart"> <span>
              <sub> <small> <strong id="cart-cntr">{{cartCnt}}</strong></small> </sub>
            </span></i></a></h2>
      {{/if}}
    </div>
  </nav>



  <!--  BODY   -->
    {{{body}}}
  



  <!-- Footer -->


    <footer class="text-center">
      <div class="col-md-3"></div>
      <div class="col-md-3 my-3">
        {{!-- <img src="/images/logo1.png" alt="logo"> --}}
        <h4>Contact</h4>
        <hr>
        
        <p>555-555-5555</p>
        <p>info@farmgrocer.com</p>
        <p>123 Main Street Denver, CO</p>
      </div>
      <div class="about col-md-3 my-3">
        <h4>About Us</h4>
        <hr>
        <a href="#">About our Store</a> <br>
        <a href="/about">About the Developers</a>
      </div>
      <div class="col-md-3"></div>
  </footer>
  
  <!--End of Footer    -->






  <!--Bootstrap js cdn links-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <!-- your script links -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/script.js"></script>

</body>

</html>