/* blue: #95D6F2; */
/* blue: rgba(136,205,240) */

/*  WELCOME  */
.welcome {
  margin: 100px 0;
}

h4 {
  font-size: 1rem;
}

a.nav-link {
text-align: right;
}

.card-container{
  width: 80%;
  border: 2px solid rgb(81,32,4);
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;
  flex-wrap: wrap;
}

.card {
  border: 1px solid rgb(81,32,4);
  max-width: 225px;
  margin: 20px;
}

img {
  max-width: 100%;
}

.btn-primary{
 /* background-color: rgb(81,32,4);
 border: rgb(231, 197, 161) */
 background-color: rgb(231, 197, 161);
 border: 2px solid rgb(81,32,4);
 color: black;
}

.btn-primary:hover{
  background-color:rgb(81,32,4);
  color: white;
  border: 2px solid rgb(231, 197, 161);
}

#veg {
  width: 300px;
  height: auto;
}

/* Parallax Section */
#plx {
  margin: 100px 0px;
  background: url(../images/Carousel/slide9.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.plx-title {
  height: 400px;
  width: 100%;
  padding: 150px 20px;
}

.plx-title h2 {
  font-size: 36px;
  font-weight: bold;
}

.services {
  color: white;
  font-size: 24px;
  height: 800px;
  width: 100%;
  margin: 50px 0;
  background-image: url(../images/veg-wood-table.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}

.services img {
  width: 100px;
  height: auto;
}

#map {
  width: 100%;
  height: 150px;
  background-color: grey;
}

/*LOGIN*/
.login-container {
  width: 80%;
  padding: 50px;
  margin: 25px auto;
  border-radius: 5px;
}

.register {
  background-image: url("../images/veg-wood-table.jpg");
  background-repeat: no-repeat;
  background-position: absolute;
  background-size: cover;
}

.light-brown {
  /* background-color: #b5d3e7;
  opacity: 0.9; */
  background-color: rgba(231, 197, 161, 0.9);
  /* background-color: rgba(227, 193, 148, 0.9); */

}

/*MEDIA QUERIES*/
/*LAPTOP & Desktop*/ 
@media (min-width: 992px) {
  .card-columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
  .login-container{
    width: 60%;
  }
}

/*large Phone and Smaller*/
@media (max-width: 576px) {

  .login-container{
    width: 100%;
    padding: 10px;
  }
}







/*ANIMATIONS*/
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.kenburns-right {
  -webkit-animation: kenburns-right 5s ease-out both;
  animation: kenburns-right 5s ease-out both;
}

@-webkit-keyframes kenburns-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 50%;
    transform-origin: 84% 50%;
  }
  100% {
    -webkit-transform: scale(1.25) translateX(20px);
    transform: scale(1.25) translateX(20px);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
}
@keyframes kenburns-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 50%;
    transform-origin: 84% 50%;
  }
  100% {
    -webkit-transform: scale(1.25) translateX(20px);
    transform: scale(1.25) translateX(20px);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
}

.kenburns-top-left {
  -webkit-animation: kenburns-top-left 5s ease-out both;
  animation: kenburns-top-left 5s ease-out both;
}

@-webkit-keyframes kenburns-top-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 16%;
    transform-origin: 16% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, -15px);
    transform: scale(1.25) translate(-20px, -15px);
    -webkit-transform-origin: top left;
    transform-origin: top left;
  }
}
@keyframes kenburns-top-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 16%;
    transform-origin: 16% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, -15px);
    transform: scale(1.25) translate(-20px, -15px);
    -webkit-transform-origin: top left;
    transform-origin: top left;
  }
}

.kenburns-top {
  -webkit-animation: kenburns-top 5s ease-out both;
  animation: kenburns-top 5s ease-out both;
}

@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

/* #open-hours {
  background: url(../images/shopTiming.jpg);
  background-size: cover;
  padding-top: 10%;
  font-style: italic;
  width: 100%;
  height: auto;
} */
